*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.title {

    /* border: 1px solid rebeccapurple; */
    text-align: center;
    margin: 20px;
}

.container-btn {
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-book{
    text-align: center;
}

.forming {
    /* display: none; */
}